.blogBody {
	float: right;	
	padding: 10px 20px 0px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 740px;
  background: white;
}

.blogLinks {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 110px;
}

#blogPost {
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
	background: #EDEDED;
	border: 1px solid grey;
}

/* Blog title */
#blogPost h1 {
	font-size: 15px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* username */
#blogPost h2 {
	text-align: right;
	font-size: 10px;
	font-weight: normal;
	padding: 0px 15px 0px 0px;
	margin: 0px;
}

/* date */
#blogPost h3 {
padding: 0px 10px 0px 0px;
	font-size: 8pt;
	font-style: italic;
	padding: 0px;
	margin: 0px;
}

/* text */
#blogPost p {
	background: white;
	text-align: justify;
	font-size: 10pt;
	padding: 10px;
	margin: 10px 10px 0px 0px;
	border: 1px solid grey;
}
